*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
/tasks/SCoA/data/*.json
/tasks/SCoA/data/*_vocab.txt
/tasks/SCoA/data/glove.6B.300d.txt
/tasks/SCoA/plots
/tasks/SCoA/results
/tasks/SCoA/argument_log
/tasks/SCoA/snapshots